<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="card">
        <div class="card-content">
            <div class="orden">Orden de Producción</div>
            <div class="op">
                <b>
                    {{PRODUCTO.sort}}
                </b>
            </div>
            <table class="table is-fullwidth">
                <tr>
                    <td>
                        <b>CLIENTE:</b> {{PRODUCTO.cliente.nombre}}
                    </td>
                    <td>
                        <b>Orden De Compra:</b> {{PRODUCTO.orden}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2'>
                            <b>PRODUCTO:</b> {{PRODUCTO.producto.producto}}
                        </td>
                    </tr>
                    <tr class="has-text-centered is-selected" >
                        <th class="has-text-centered" colspan='2'>ENTREGAS</th>
                    </tr>
                    <tr>
                        <td>
                            <b>Cantidad:</b> {{PRODUCTO.cantidad}} <br>
                        </td>
                        <td>
                            <b>Fecha de Creacion: </b> {{PRODUCTO.fecha | date:'dd-MM-yyyy'}}
                        </td>
                    </tr>
                    <tr class="has-text-centered is-selected" >
                        <th class="has-text-centered" colspan='2'>MONTAJE Y DESARROLLO</th>
                    </tr>
                    <tr class="has-text-centered">
                        <th class="has-text-centered is-selected">MATERIALES</th>
                        <th class="has-text-centered is-selected">HOJAS</th>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            <ng-container *ngFor='let material of PRODUCTO.producto.materiales'>
                                {{material.material}} <br>
                            </ng-container>
                        </td>
                        <td>
                            <b>Ejemplares Montados:</b>
                            {{PRODUCTO.producto.ejemplares}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Hojas:</b>
                            {{PRODUCTO.paginas}}
                        </td>
                    </tr>
                    <tr class="has-text-centered">
                        <th class="is-selected" colspan='2'>POST - IMPRESION</th>
                    </tr>
                    <tr>
                        <td colspan='2'>
                            <b>Corte:</b>
                            {{PRODUCTO.producto.post}}
                        </td>
                    </tr>
                    <tr>
                        
                        <td colspan='2'>
                            <b>Corte:</b>
                            {{PRODUCTO.producto.troquel}}
                        </td>
                        
                    </tr>
                </table>
                <div class="column">
                </div>
            <hr>
        </div>
    </div>
</div>
