<div class="card">
    <div class="card-content">
        <div class="titulo">Almacen</div>
        <button class="button is-primary" (click)='Modal_Almacen()'>Agregar inventario</button>  
        <button class="button is-primary" (click)='modal_Conversion()'>Hacer Conversión</button>  
        <button class="button is-primary" (click)='Modal_bobinas()'>Nueva Bobinas</button>  
        <button class="button is-primary" (click)='check_bobinas()'>Ver Bobinas</button>
        <hr>
        <div class="card" *ngIf='boolean_sustrato'>
            <div class="card-content">
                <div class="subtitulo">
                    Sustrato Convertido (Und.)
                </div>
                <hr>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Materia Prima</th>
                            <th>Cantidad</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let Sustrato of Sustratos'>
                            <ng-container>
                                <td>{{Sustrato.material}}</td>
                                <td>{{Sustrato.cantidad}}</td>
                                <td>
                                    <button class="button is-danger is-outlined is-small">
                                        <span>Eliminar</span>
                                        <span class="icon is-small">
                                          <i class="fas fa-times"></i>
                                        </span>
                                    </button>
   
                                    <button class="button is-success is-outlined is-small">
                                        <span>Editar</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
                                    </button>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card" *ngFor='let seccion of SECCIONES'>
            <div class="card-content">
                <div class="subtitulo">
                    {{seccion.nombre}}
                </div>
                    <hr>
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>Materia Prima</th>
                                <th>Cantidad</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let producto of ALMACEN'>
                                <ng-container *ngIf='producto.grupo.nombre === seccion.nombre'>
                                    <td>{{producto.nombre}}</td>
                                    <td>{{producto.cantidad}} {{producto.unidad}}.</td>
                                    <td>
                                        <button class="button is-danger is-outlined is-small">
                                            <span>Eliminar</span>
                                            <span class="icon is-small">
                                              <i class="fas fa-times"></i>
                                            </span>
                                        </button>
   
                                        <button class="button is-success is-outlined is-small">
                                            <span>Editar</span>
                                            <span class="icon is-small">
                                                <i class="fas fa-pencil-alt"></i>
                                            </span>
                                        </button>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" [ngClass]="{'is-active':NUEVO_PRODUCTO}">
    <div class="modal-background" (click)='Modal_Almacen()'></div>
    <div class="modal-card">
        <div class="modal-card-body">
            <div class="subtitulo">Ingreso de Materia Prima</div>
            <form
            autocomplete="off"
            [formGroup]="InventarioForm"
            (ngSubmit)="Almacenar()"
            >
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">
                            Grupo de Materia Prima
                        </label>
                        <div class="select">
                            <select (change)='Cambio_opciones($event.target.value)' id='selected'>
                                <option value="{{seccion._id}}" *ngFor='let seccion of SECCIONES'>{{seccion.nombre}}</option>
                                <option value="otros">otro</option>
                                <option value="sustrato">Sustrato Convertido</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column" *ngIf='OTRO'>
                    <div class="field">
                        <label class="label">Nombre del Nuevo Grupo</label>
                        <div class="control">
                            <input type="text" class="input" formControlName="NewControl">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Materia Prima</label>
                            <div class="control">
                                <input type="text" class="input" formControlName="producto">
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="field">
                            <label class="label">Cant</label>
                            <div class="control">
                                <input type="number" class="input" formControlName="cantidad">
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="field">
                            <label class="label">Unidad</label>
                            <div class="select">
                                <select formControlName="unidad">
                                    <option value="Kg">Kg.</option>
                                    <option value="Und">Und.</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-primary">Agregar a Inventario</button>
            </form>
        </div>
    </div>
</div>

<div class="modal" [ngClass]="{'is-active':CONSULTAB}">
    <div class="modal-background" (click)='check_bobinas()'></div>
    <div class="modal-card">
        <div class="modal-card-body">
            <div class="subtitulo">Bobinas</div>
                        <table class="table is-fullwidth">
                            <tr>
                                <th>#</th>
                                <th>Material</th>
                                <th>Gramaje</th>
                                <th>Ancho de Bobina</th>
                                <th>peso</th>
                            </tr>
                            <tr *ngFor='let bobina of BOBINAS_'>
                                <td>{{bobina.Nbobina}}</td>
                                <td>{{bobina.material}}</td>
                                <td>{{bobina.gramaje}}</td>
                                <td>{{bobina.ancho}}</td>
                                <td>{{bobina.peso}}</td>
                            </tr>
                        </table>
        </div>
    </div>
</div>

<div class="modal" [ngClass]="{'is-active':BOBINAS}">
    <div class="modal-background" (click)='Modal_bobinas()'></div>
    <div class="modal-card">
        <div class="modal-card-body">
            <form
            autocomplete="off"
            [formGroup]="BobinaForm"
            (ngSubmit)="nuevaBobina()"
            >
            <div class="subtitulo">Nueva Bobina</div>
            <div class="field">
                <label class="label">Numero de bobina</label>
                    <input type="text" class="input" formControlName="Nbobina">
            </div>
            <div class="field">
                <label class="label">Material</label>
                    <input type="text" class="input" formControlName="material">
            </div>
            <div class="field">
                <label class="label">Gramaje</label>
                    <input type="text" class="input" formControlName="gramaje" >
            </div>
            <div class="field">
                <label class="label">Ancho de bobina</label>
                    <input type="text" class="input" formControlName="ancho" >
            </div>
            <div class="field">
                <label class="label">Peso</label>
                    <input type="text" class="input" formControlName="peso">
            </div>
            <button class="button is-primary">Nueva Bobina</button>
            </form>
        </div>
    </div>
</div>

<div class="modal" [ngClass]="{'is-active':CONVERSION}">
    <div class="modal-background" (click)='modal_Conversion()'></div>
    <div class="modal-card">
        <div class="modal-card-body">
            <div class="subtitulo">Conversión</div>
            
            <div class="separador">
                De peso a Hojas
            </div>
            <br>
            <div class="field">
                <label class="label">Bobinas</label>
                <div class="select">
                    <select (change)='Buscar_Bobina($event)' id='bobina_selected'>
                        <option value="null">Selecciona Bobina</option>
                        <option value='{{bobina._id}}' *ngFor='let bobina of BOBINAS_'>{{bobina.Nbobina}} - {{bobina.material}} ({{bobina.peso}})</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="label">Peso (tm)</div>
                <div class="control">
                    <input type="number" class="input" value='0' (change)='Peso($event)' id='_peso'>
                </div>
            </div>
            <div class="field">
                <div class="label">Gramaje (g/m²)</div>
                <div class="control">
                    <input type="number" class="input" value='0' (change)='Gramaje($event.target.value)' id='_gramaje'>
                </div>
            </div>
            <div class="field">
                <div class="label">Ancho (cm)</div>
                <div class="control">
                    <input type="number" class="input" value='0' (change)='Ancho($event.target.value)' id='_ancho'>
                </div>
            </div>
            <div class="field">
                <div class="label">Largo (cm)</div>
                <div class="control">
                    <input type="number" class="input" value='0' (change)='Largo($event)' id='_largo'>
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column">
                    <b>Cantidad Hojas: </b> {{HOJAS}} <br> 
                    <button class="button is-primary" (click)='Generar_Conversion()'>Generar una Conversión</button>
                </div>
            </div>

            <div class="separador">
                De Hojas a Peso
            </div>
            <br>
            <div class="field">
                <div class="label">Cantidad (Hojas)</div>
                <div class="control">
                    <input type="number" class="input" value='0' (change)='Hojas_($event)'>
                </div>
            </div>
            <div class="field">
                <div class="label">Gramaje (g/m²)</div>
                <div class="control">
                    <input type="number" class="input" value='300' (change)='Gramaje_($event)'>
                </div>
            </div>
            <div class="field">
                <div class="label">Ancho (cm)</div>
                <div class="control">
                    <input type="number" class="input" value='0' (change)='Ancho_($event)'>
                </div>
            </div>
            <div class="field">
                <div class="label">Largo (cm)</div>
                <div class="control">
                    <input type="number" class="input" value='0' (change)='Largo_($event)'>
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column">
                    <b>Peso: </b> {{PESO_}}
                </div>
            </div>

        </div>
    </div>
</div>